body {
background-image: url('assets/bgn.png');
color: #000;
font-family: 'Futura', sans-serif;
text-align:center;
font-weight:400px;
font-size: 0.95rem;
letter-spacing: 2px;
}
img {
border-radius: 0%;
}
.profile-picture {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 7%;
height: auto;
max-width: 100px;
}
.profile-name {
text-align: center;
padding: 20px;
padding-bottom: 30px;

}
.link-style {
display: block;
max-width: 550px;
background: #fff;
text-align: center;
font-size: 0.95rem;
font-weight: bold;
line-height: 1.5;
margin: 0 auto 15px;
margin-bottom: 20px;
padding: 14px 15px;
}

.link-blue {
border: 1px solid #80d6ff;
border-width: 2px;
border-bottom-width: 6px;
background: #80d6ff;
color: #000;
}

.link-sky {
border: 1px solid #bedde8;
border-width: 2px;
border-bottom-width: 6px;
background: #bedde8;
color: #000;
}

.link-green {
border: 1px solid #73e2a7;
border-width: 2px;
border-bottom-width: 6px;
background: #73e2a7;
color: #000;
}

.link-yellow {
border: 1px solid #fed766;
border-width: 2px;
border-bottom-width: 6px;
background: #fed766;
color: #000;
}

.link-red {
border: 1px solid #ffa093;
border-width: 2px;
border-bottom-width: 6px;
background: #ffa093;
color: #000;
}

h2 {
color: #024873;
font-size:22px;
text-transform:uppercase;
font-weight:bold;
letter-spacing:1.5px
}

a {
text-decoration: none;
color: black;
transition: color 1s;
}
a:hover {background: #e6e6e6}

.bottom-text {
text-align: center;
margin-top: 40px;
font-size: 13px;
font-weight: bold;
}

.channels{max-width:310px;margin:0 auto}
.channels a{flex:1;margin-right:10px;border:none}
.channels a:last-child{margin-right:0}
.channels a:hover {background: none}

 .built2bless-zoom-in-rotate-effect img{
    width: 40px;
    height: auto;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
}

.built2bless-zoom-in-rotate-effect img:hover{
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
}