body {
background-image: url('assets/bgn.png');
color: #000;
font-family: 'Open Sans', sans-serif;
text-align:center;
font-weight:bold;
font-size: 15px;
letter-spacing: 2px;
}
img {
border-radius: 0%;
}
.profile-picture {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
height: auto;
max-width: 100px;
}
.profile-name {
text-align: center;
padding: 30px;
}
.links {
background: #fff;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
border: 1px solid #000;
border-width: 2px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
}

h2 {
color: #024873;
font-size:22px;
text-transform:uppercase;
font-weight:bold;
letter-spacing:1.5px
}

a {
text-decoration: none;
color: black;
transition: color 1s;
}
.bottom-text {
text-align: center;
margin-top: 40px;
font-size: 13px;
font-weight: bold;
}
a:hover {background: none}

.channels{max-width:310px;margin:0 auto}
.channels a{flex:1;margin-right:10px;border:none}
.channels a:last-child{margin-right:0}
.channels a:hover {background: none}

 .built2bless-zoom-in-rotate-effect img{
    width: 40px;
    height: auto;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
}

.built2bless-zoom-in-rotate-effect img:hover{
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
}